
/*Estilo general para toda la página*/
body{
    background-color: #cca37d;
}

/*Estilos para el header*/

/*Contenedor del logo y usuario*/
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1px;
}

.contenedor_logo{
    background-color:#cca37d;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*Estilo general para el logo*/
.logotipo {
    width: 50%;
    min-width: 150px;
}

/*Estilo general para el usuario*/
.usuario {
    width: 50%;
    min-width: 50px;
}


/*Estilo general para los h1.*/
h1 {
    width: 90%;
    font-family: "Verdana", "Geneva", sans-serif;
    text-align: center;
}



/*Estilo general para el contenedor de los menus de navegacion*/
.contenedor_menu {
    background-color: #e7ba8f;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Estilo para los elementos dentro del menu de navegacion y el menu de navegacion */
nav a {
    text-decoration: none;
    font-size: 2rem;
    color: #000;
    padding: 20px;
    border: 1px solid #cca37d;
    flex-grow: 1;
    text-align: center;
}

nav a:hover {
    background-color:#DAB086;
}


/*Estilo general para el menu de navegacion*/
nav {
    display: flex;
    width: 100%;
    border: 1px solid #cca37d;
}


/*Estilos para login.html*/
.contenedor_mensaje {
    font-family: "Verdana", "Geneva", sans-serif;
    background-color: #facea5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1px;
}

 /*Estilo para el título del mensaje*/
.mensaje-titulo{
    font-size: 200%;
    color: rgb(0, 0, 0);
    margin-top: -50px;
    margin-bottom: 30px;
}


/* Estilo para el contenedor principal del mensaje */
.mensaje-principal {
    margin-top: 25px;
    background-color: #f8e7cd;
    padding: 60px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 200px;
}

/* =========== FORMULARIO ==============================================*/
/* Estilo para los campos que rellenar */
input {
    padding: 10px 30px;
    font-size: 18px;
    background-color: #f7f7f7;
    color: rgb(17, 17, 17);
    border-radius: 5px;
}

/* Estilo para el botón de entrada */
input[type="submit"] {
    background-color: rgb(240, 236, 236);
}

/* Botón de entrada*/
.texto-boton {
    color: rgb(14, 13, 13);
}



/* =================== Estilo para el FOOTER =====================*/

/*Estilos para el contenedor del footer*/
.contenedor_footer{
    background-color: #cca37d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 1rem;
}

/*Estilo para la imagen del footer creative commons*/
.creative_commons {
    width: 10%;
    max-width: 80%;
    order: 1;
}

/*Estilo para el contenedor del texto del footer*/
.texto_contenedor_footer {
    text-align: center;
    font-size: 25px;
    order: 2;
}

/*Estilo para el contenedor de las imagenes de las redes sociales del footer*/
.imagenes_contenedor_footer {
    text-align: center;
    order: 3;
}

/*Estilo para las imagenes redes sociales*/
.imagenes_redessociales {
    width: 30%;
    max-width: 80px;
}

/*Estilo para que las imagenes redes sociales cambien de color*/
.imagenes_redessociales:hover {
    filter: grayscale(100%);
}










/*================Estilos para index.html===========================*/

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #facea5;
    align-content: flex-start;  
}

main h2{
    width: 100%;
    min-width: 100px;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.contenedor_peliculas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 12px;

}

.detalle_pelicula{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imagenes_texto_pelicula{
    width: 20rem;
    min-width: 5rem;
}
.imagenes_texto_pelicula img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.contenedor_pelicula{
    background-color: #e7ba8f ;
    padding: 1rem;
    border-radius: 12px;
    width: 58%;
    min-width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.contenedor_pelicula h3{
    font-size: 32px;
}

.texto_descripcion{
    font-size: 17px;
    line-height: 1.5;
}

.duracion_genero{
    margin-top: 5px;
}

/* ahora las sesiones */
.sesiones_peliculas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sesiones_peliculas a{
    text-decoration: none;
    color: black;
}


.salas{
    background-color: #f8e0bc;
    padding: 18px;
    border-radius: 12px;
    width: 80%;
    min-width: 350px;
    margin: 1rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

/*======================Estilos para index.php=======================*/

/*Estilo para el saludo al usuario*/
.saludo_usuario {
    font-size: 1rem;
    font-family: "Verdana", "Geneva", sans-serif;
    color: #000000;
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}

.cerrar_sesion{
    color: #000000;
    margin-left: 1rem;
}