/*Estilo general para toda la página*/
body{
    background-color: #cca37d;
}

/*Estilo para el header*/
/*Contenedor del logo y usuario*/
.contenedor_logo{
    background-color: #cca37d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    gap: 20px;
}

/*Estilo general para el logo*/
.Logotipo {
    width: 400px;
}

/*Estilo general para el usuario*/
.usuario {
    width: 170px;
}

/*Estilo general para los h1.*/
h1 {
    font-size: 60px;
    font-family: "Verdana", "Geneva", sans-serif;
}



/*Estilo general para el contenedor de los menus de navegacion*/
.contenedor_menu {
    background-color: #e7ba8f;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Estilo para los elementos dentro del menu de navegacion y el menu de navegacion */
nav a {
    text-decoration: none;
    font-size: 30px;
    color: #000;
    padding: 20px;
    border: 1px solid #cca37d;
    flex-grow: 1;
    text-align: center;
}

nav a:hover {
    background-color:#DAB086;
}


/*Estilo general para el menu de navegacion*/
nav {
    display: flex;
    width: 100%;
    border: 1px solid #cca37d;
}


/*Estilos para login.html*/
.contenedor_mensaje {
    font-family: "Verdana", "Geneva", sans-serif;
    background-color: #facea5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    height: 600px;
    margin: 1px;
}

 /*Estilo para el título del mensaje*/
.mensaje-titulo{
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-top: -50px;
    margin-bottom: 30px;
}



/* Estilo para el contenedor principal del mensaje */
.mensaje-principal {
    margin-top: 25px;
    background-color: #f8e7cd;
    padding: 150px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 250px;
}

/* Estilo para los campos que rellenar */
input {
  padding: 10px 30px;
  font-size: 18px;
  background-color: #f7f7f7;
  color: rgb(17, 17, 17);
  border-radius: 5px;
}

/* Estilo para el botón de entrada */
input[type="submit"] {
    background-color: rgb(240, 236, 236);
}

/* Botón de entrada*/
.texto-boton {
    color: rgb(14, 13, 13);
}



/*Estilo para el footer*/

/*Estilos para el contenedor del footer*/
.contenedor_footer{
    background-color: #cca37d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    max-width: 6000px;
    padding: 20px;
}

/*Estilo para la imagen del footer creative commons*/
.creative_commons {
    width: 12rem;
    height: 4rem;
    max-width: 80%;
    order: 1;
}

/*Estilo para el contenedor del texto del footer*/
.texto_contenedor_footer {
    text-align: center;
    font-size: 25px;
    order: 2;
}

/*Estilo para el contenedor de las imagenes de las redes sociales del footer*/
.imagenes_contenedor_footer {
    grid-area: imagenes_f;
    text-align: center;
    order: 3;
}

/*Estilo para las imagenes redes sociales*/
.imagenes_redessociales {
    width: 4rem;
    height: 4rem;
}

/*Estilo para que las imagenes redes sociales cambien de color*/
.imagenes_redessociales:hover {
    filter: grayscale(100%);
}